<div class="login-top-img">
    <%= image_tag 'login-top', alt: 'Login Top' %>
</div>

<div class="inner">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form__fields">
            <div class="field">
                <%= f.label :account_name, "Account", class: 'form__label' %><br />
                <%= f.text_field :account_name, autofocus: true, autocomplete: "Account", class: 'form__input' %>
            </div>

            <div class="field">
                <%= f.label :email, class: 'form__label' %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form__input' %>
            </div>

            <div class="field">
                <%= f.label :password, class: 'form__label' %>
                <%= f.password_field :password, autocomplete: "new-password", class: 'form__input' %>
            </div>
        </div>

        <div class="actions">
            <%= f.submit "CREATE ACCOUNT", class: 'form__submit' %>
        </div>
    <% end %>
</div>
