<div class="login-top-img">
  <%= image_tag 'login-top.png', alt: 'Login Top' %>
</div>

<div class="inner">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form' }) do |f| %>
    <div class="form__fields">
      <div class="field">
        <%= f.label :email, class: 'form__label' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form__input' %>
      </div>

      <div class="field">
        <%= f.label :password, class: 'form__label' %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'form__input' %>
      </div>
    </div>

    <%= render "devise/shared/links" %>

    <div class="actions">
      <%= f.submit "Log in", class: 'form__submit' %>
    </div>
  <% end %>
</div>
